#navbar .logo{
    text-align: center;
    float: none;
}

#navbar ul, #navbar ul li{
    float: none;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
}


/* showcase */

#showcase .showcase-content{
    height: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
}


/* homoe info */

#home-info .info-img{
    display:none;
}

.info-content{
    float: none;
    width: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}


/* boxes */ 

.box{
    float: none;
    width: 100%;
}

/* about */

#about-info .info-right,
#about-info .info-left{
    float: none;
    width: 100%;
}

.l-heading{
    text-align: center;
}

#about-info .info-right{
    margin-top: 30px;
}

/* contaxt */

#contact-info .box{
    border-bottom: #444 dotted 1px;

}